body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei', sans-serif, -apple-system-font, 'Helvetica Neue', Helvetica;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}

::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
    background-color: #eee;
}
-webkit-overflow-scrolling:touch{
  overflow:scroll;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 10px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
    width: 100%;
    background-color: #fff;
}
.clear{
    zoom:1;
}
.clear:before, .clear:after {
  display:table;
  content: "";
}

.clear:after {
  clear: both;
}
.hid{
  position: fixed;
}
.ellipsis{
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

a{
  text-decoration: none;
}

a.router-link-active,
a.router-link-active i,
a.router-link-active span{
  color: #ff9929;
}

.loader-more,.loader-none{ width: 100%; height:1.28rem;text-align: center;line-height: 1.28rem}

.router-slide-enter-active, .router-slide-leave-active {
    transition: all .4s;
}
.router-slide-enter, .router-slide-leave-active {
    transform: translateX(100%);
}
.router-right-enter-active, .router-right-leave-active {
    transition: all .4s;
}
.router-right-enter, .router-right-leave-active {
    transform: translateY(100%);
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
input,input:focus,input:active{user-select: text;}

.mint-indicator-wrapper{
  z-index: 10000
}
.mint-indicator{
  transition: opacity 0s linear!important;
}

.mint-toast-text {
    color: #fff;
}
.video {
  position: relative
}

.video::before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.4rem solid #fff;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
  left: 50%;
  top: 50%;
  margin-top: -0.2rem;
  margin-left: -0.1rem;
  z-index: 1
}
.video::after{
  position: absolute;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: rgba(0,0,0,.7);
  left: 50%;
  top: 50%;
  margin-left: -0.4rem;
  margin-top: -0.4rem;
}

.htmlbox p{
  margin:0.15rem 0;
}
.htmlbox img{
  width:100%;
  margin:0.106667rem 0;
}
.swiper-wrap{
    z-index: 0!important;
}
.zindex1{
  z-index: 2!important;
}
.zindex3{
  z-index: 3!important;
}
.backtop-enter-active, .backtop-leave-active {
  transition: opacity .5s
}
.backtop-enter, .backtop-leave-active {
  opacity: 0
}
.fff{
  background: #FFF!important
}
